%% -*- erlang -*-
{erl_opts,
 [debug_info,
  warnings_as_errors,
  warn_missing_spec,
  {parse_transform, lager_transform}
 ]}.

{deps,
  [
   amqp_client,
   backoff,
   lager,
   jsone,
   {statsderl, {git, "https://github.com/lpgauth/statsderl.git", {tag, "0.4.4"}}},
   {lager, "~>3.2.0"}
  ]}.

{profiles,
 [{prod, [{relx, [{dev_mode, false},
                  {include_erts, true}]}]},
  {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.5"}}}]}]},
  {eqc, [{deps, [meck]}, {plugins, [rebar3_eqc]}, {erl_opts, [{d, 'TEST'}]}]}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.
