%% -*- erlang -*-
{erl_opts,
 [debug_info,
  warnings_as_errors,
  warn_missing_spec,
  {parse_transform, lager_transform}
 ]}.

{deps,
  [
   {amqp_client, "~>3.5.6"},
   backoff,
   jsone,
   {folsom, "~>0.8.3"},
   {lager, "~>3.2.0"},
   {metrics_reader, "~>0.1.0"}
  ]}.

{profiles,
 [{prod, [{relx, [{dev_mode, false},
                  {include_erts, true}]}]},
  {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.5"}}}]}]},
  {eqc, [{deps, [meck]}, {plugins, [rebar3_eqc]}, {erl_opts, [{d, 'TEST'}]}]},
  {docs,
   [{deps, [
            {edown,
             {git, "https://github.com/uwiger/edown.git",
              {tag, "0.8"}}}
           ]},

    {edoc_opts, [{doclet, edown_doclet},
                 {packages, false},
                 {subpackages, true},
                 {top_level_readme,
                  {"./README.md", "http://github.com/dataloop/erl-vent"}}]}
   ]}
 ]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.
