%% -*- erlang -*-
[{vent,
     [{host, "localhost"},
      {port, 5672},
      {username, "user"},
      {password, "pass"},
      {virtual_host, <<"prod">>},

      {subscribers,
          [{vent_subscriber,
               [{n_workers, 1},
                {prefetch_count, 2},
                {exchange, <<"exchange">>},
                {dead_letter_exchange, <<"dl_exchange">>},
                {error_exchange, <<"errors">>},
                {error_routing_key, <<"error_routing_key">>},
                {queue, <<"vent:queue">>},
                {message_ttl, 300000},
                {handler, vent_debug_handler}]}]}]},

 {lager,
     [{log_root, "/var/log/vent"},
     {crash_log, "vent-crash.log"},
     {handlers, [{lager_console_backend, info}]}]}
].
